body{
    margin: 0;
    padding: 0;
    font-family: "Hind Siliguri", sans-serif;
}
.button-64 {
    margin: 5px;
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 120px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button-64:active,
.button-64:hover {
  outline: 0;
}

.button-64 span {
  background-color: rgb(5, 6, 45);
  padding: 8px 12px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-64:hover span {
  background: none;
}

@media (min-width: 468px) {
  .button-64 {
    font-size: 24px;
    min-width: 146px;
  }
}

header .button-64 a{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 700;
    padding: 10px;
}


/*================================================================================================================*/
.maintext{
    margin: 12px;
}
.maintext h3{
    margin: 0px;
}
.maintext h2{
    margin: 0px;
}
/*================================================================================================================*/
.table-content {
      width: 80%;
      margin: auto; /* Center the table itself on the page */
      border-collapse: collapse; /* Merge table borders */
      text-align: center; /* Center text horizontally */
    }

    th, td {
      border: 1px solid black; /* Add border to cells */
      padding: 10px;
      vertical-align: middle; /* Center text vertically */
    }

    th {
      background-color: #a9ebe5;
    }