body{
    margin: 0;
    padding: 0;
    font-family: "Hind Siliguri", sans-serif;
}
/*=======================================================================back btn====================================*/
.breadcrumb {
  margin-top: 5px;
  display: flex;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
}
.breadcrumb a{
  text-decoration: none;
  color: #030303;
}
.step {
  color: rgb(0, 0, 0);
  padding: 10px 25px;
  position: relative;
}

.home {
  background-color: #939fd6;
  clip-path: polygon(0 0, calc(100% - 20px) 0, 100% 50%, calc(100% - 20px) 100%, 0 100%, 20px 50%);
  z-index: 2;
  margin: 0px;
}

.student {
  background-color: #bac5f5;
  clip-path: polygon(0 0, calc(100% - 20px) 0, 100% 50%, calc(100% - 20px) 100%, 0 100%, 20px 50%);
  z-index: 1;
  margin-left: -15px; /
}

/*=======================================================================Back btn=================================*/

/*================================================================================================================*/
.maintext{
    margin: 12px;
}
.maintext h3{
    margin: 0px;
}
.maintext h2{
    margin: 0px;
}
/*========================================================================Table start========================================*/
table{
  margin: 5px;
}
.table-content {
      width: 80%;
      margin: auto; /* Center the table itself on the page */
      border-collapse: collapse; /* Merge table borders */
      text-align: center; /* Center text horizontally */
    }
    th{
      color: #fff;
    }
    th, td {
      border: 1px solid black; /* Add border to cells */
      padding: 10px;
      vertical-align: middle; /* Center text vertically */
    }

    th {
      background-color: #142d9e;
    }
    tr:nth-child(odd) {
  background-color: #bfcafd; /* হালকা নীল রঙ বিজোড় লাইনের জন্য */
}
    /*========================================================================Table end========================================*/