body {
  margin: 0px;
  padding: 0px;
  font-family: "Hind Siliguri", sans-serif;
  background-color: #fff;
}
/*====================================font add ===========================*/
@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Hind+Siliguri:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Carter+One&family=Fjalla+One&family=Hind+Siliguri:wght@300;400;500;600;700&display=swap");

/*====================================font ses ===========================*/
.header-nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(255, 255, 255);
}
.header-nav img {
  width: 28px;
  height: 35px;
  margin-left: 8px;
}

.header-nav p {
  font-size: 18px;
  font-family: "Hind Siliguri", sans-serif;
  font-weight: 700;
}
.header-nav button a{
  text-decoration: none;
  color: #fff;
}
.header-nav button {
  margin-right: 8px;
  background: #0f2379;
  width: 120px;
  border-radius: 999px;
  box-shadow: #0f2379 0 10px 20px -10px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji",
    NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji",
    EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 5px 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}
/*=============================lister ==================================*/
.gradient-container {
      padding-bottom: 2px;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 2px;
    }
    ul.main-list {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      gap: 10px;
    }
    .main-list > li {
      flex: 1;
      padding-left: 15px;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-right: 15px;
      border-radius: 8px;
      color: rgb(255, 255, 255);
      font-weight: bold;
      text-align: center;
      position: relative;
      font-family: "Hind Siliguri", sans-serif;
      cursor: pointer;
    }
    .main-list > li a{
      text-decoration: none;
      color: rgb(255, 255, 255);
      font-weight: 800;
      font-family: "Hind Siliguri", sans-serif;
    }

    .item1 {
      background: linear-gradient(45deg, #0f2379, #0f2379);
    }

    .item2 {
      background: linear-gradient(45deg, #0f2379, #0f2379);
    }

    .item3 {
      background: linear-gradient(45deg,#0f2379, #0f2379);
    }

    .item4 {
      background: linear-gradient(45deg, #0f2379, #0f2379);
      align-items: center;
      justify-content: center;
    }

    .dropdown {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      list-style: none;
      padding: 10px 0;
      margin: 0;
      border-radius: 8px;
      overflow: hidden;
    }

    .dropdown li {
      padding: 8px 0;
      margin-bottom: 5px;
      color: white;
      font-weight: normal;
    }

    .dropdown li:nth-child(1) {
      background: linear-gradient(45deg, #0f2379, #0f2379);
    }
    .dropdown li:nth-child(2) {
      background: linear-gradient(45deg, #0f2379, #0f2379);
    }
    .dropdown li:nth-child(3) {
      background: linear-gradient(45deg, #0f2379, #0f2379);
    }
    .dropdown li:nth-child(4) {
      background: linear-gradient(45deg, #0f2379, #0f2379);
    }
    .dropdown li:nth-child(5) {
      background: linear-gradient(45deg, #0f2379, #0f2379);
    }
    .dropdown li:nth-child(6) {
      background: linear-gradient(45deg, #0f2379, #0f2379);
    }

    .item4:hover .dropdown {
      display: block;
    }
    /*====================================================================================Section three ===============================*/
   #three .main-images{
    background-image:linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.3)), url(image/photo-one.png) ;
    width:100%;
    height: fit-content;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
   }
   #three .main-images h3{
    padding:50px 0px 0px 0px;
    text-align: center;
    margin: 0px;
    font-weight: 800;
    font-size: 24px;
   }
#three .main-images h4{
  margin: 0px;
  padding: 0px;
  font-size: 18px;
  text-align: center;
}
#three .main-images h5{
  margin: 0px;
  font-size: 18px;
  padding: 0px;
  text-align: center;
}
#three .main-images p{
 padding-bottom: 50px;
  font-size: 16px;
  text-align: center;
}
/*================================================================= sec four 444444444444444444444444444444444444444444444444*/

