body {
  margin: 0px;
  padding: 0;
  display: flex;
  width: 300px;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  background-color: #e66060;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  position: sticky;
  top: 40%;
}

.box {
  width: 180px;
  height: 220px;
  border-radius: 15px;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
}

.small {
  background-color: #b2cdf2;
  transform: scale(0.8);
}

.large {
  background-color: #3f78c4;
  transform: scale(1.1);
}